{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">{{ season.description }} -- Année de sortie {{ season.year}}</h1>
            <br>
            <h2> Episodes : </h2>
            <ul>
                {% for episode in season.episodes %}
                    <a href="{{ path('program_episode_show', {program: program.id, season: season.id, episode: episode.id}) }}"><h2> Episode : {{ episode.number }} - {{ episode.title }}</h2></a>
                    <br>
                {% else %}
                    <p> Pas de saison trouvée </p>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_show', {program: program.id}) }}">
        Retour à la liste des seasons
    </a>

{% endblock %}